* {
    margin:0;
    padding:0;  
    box-sizing: border-box;
  }
  
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #c8c3c3;
    color: #4F4846;
  }

  img {
    display: block;
    border-radius: 10px;
    margin: 40px auto;
  }

  .navbar {
    text-align:right;
    vertical-align: center;
  }
  
  h1,
  h2 {
    margin: 20px;
    text-align: center;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #fafafa;
  }
  
  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #bf94f4;
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid #faf8f7;
  }
  
  figure {
    margin-bottom: 40px;
  }
  
  img {
    display: block;
    align-items: flex-start;
    margin: 20px auto;
  }
  
  section {
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #838186;
    background-color:  #bf94f4;
  }
  
  